<?xml version="1.0"?>
<kiss>
  <area title="站群管理服务" />

  <plugins>
    <plugin name="LogInitializer" />
    <plugin name="RepositoryInitializer" type1="Kiss.Linq.Sql.Repository`1,Kiss.Linq" type2="Kiss.Linq.Sql.Repository`2,Kiss.Linq" auto_tables="*">
      <conns default="conn">
      </conns>
    </plugin>
  </plugins>

  <connectionStrings>
    <clear/>
    <add name="conn"
         providerName="System.Data.SqlClient"
           connectionString="Password=1q2w3e4r!@#$%;Persist Security Info=True;User ID=sa;Initial Catalog=sites;Data Source=192.168.1.245" />
  </connectionStrings>

</kiss>