<?xml version="1.0"?>
<queries>

  <query id="site.list"
         field="gSite.id,
                gSite.title,
                gSite.domain,
                gSite.keyWords,
                gSite.description,
                gUser.displayName,
                gSite.dateCreated as dateCreated,
                gSite.sortOrder as sortOrder"
         pageSize="10"
         orderby="-dateCreated,sortOrder">
    <![CDATA[
      
      left join gUser on gUser.id = gSite.userId
      
      where 1 = 1
      
      #if($!utils.str.hasText($!this.id))
      
        and gSite.id = @id
      #end
      
      #if($!utils.str.hasText($!this.title))
        
        $!this.set_item('title',"%this.title.replace('%','').trim()%")
        and gSite.title like @title
      #end
      
      #if($!utils.str.hasText($!this.domain))
      
        $!this.set_item('domain',"%this.domain.replace('%','').trim()%")
        and gSite.domain like @domain
      #end
      
    ]]>
  </query>

  <query id="widget.list"
         field="gWidget.id,
                gWidget.name,
                gWidget.siteId,
                gUser.displayName,
                gWidget.dateCreated as dateCreated"
         pageSize="10"
         orderby="-dateCreated">
    <![CDATA[
      
      left join gUser on gUser.id = gWidget.userId
      
      where 1 = 1
      
      #if($!utils.str.hasText($!this.id))
      
        and gWidget.id = @id
      #end
      
      #if($!utils.str.hasText($!this.name))
        
        $!this.set_item('name',"%this.name.replace('%','').trim()%")
        and gWidget.name like @name
      #end
      
    ]]>
  </query>
</queries>