<?xml version="1.0"?>
<queries>

  <query id="site.list"
         field="gSite.id,
                gSite.title,
                gSite.domain,
                gSite.keyWords,
                gSite.description,
                gUser.displayName,
                gSite.dateCreated as dateCreated,
                gSite.sortOrder as sortOrder"
         pageSize="10"
         orderby="-dateCreated,sortOrder"
         allowedOrderbyColumns="title,domain,dateCreated,sortOrder">
    <![CDATA[
      
      left join gUser on gUser.id = gSite.userId
      
      where 1 = 1
      
      #if($!utils.str.hasText($!this.siteId))
      
        and gSite.id = @siteId
      #end
      
      #if($!utils.str.hasText($!this.title))
        
        $!this.set_item('title',"%$!this.title.replace('%','').trim()%")
        and gSite.title like @title
      #end
      
      #if($!utils.str.hasText($!this.domain))
      
        $!this.set_item('domain',"%$!this.domain.replace('%','').trim()%")
        and gSite.domain like @domain
      #end
      
    ]]>
  </query>

  <query id="widget.list"
         field="gWidget.id,
                gWidget.name,
                gWidget.siteId,
                gUser.displayName,
                gWidget.dateCreated as dateCreated"
         pageSize="10"
         orderby="-dateCreated"
         allowedOrderbyColumns="name,dateCreated">
    <![CDATA[
      
      left join gUser on gUser.id = gWidget.userId
      
      where isDeleted = 0
      
      #if($!utils.str.hasText($!this.id))
      
        and gWidget.id = @id
      #end
      
      #if($!utils.str.hasText($!this.name))
        
        $!this.set_item('name',"%$!this.name.replace('%','').trim()%")
        and gWidget.name like @name
      #end
      
    ]]>
  </query>

  <query id="posts.list"
         field="gCms_posts.id,
                gCms_posts.title,
                gUser.displayName,
                gCms_category.title as category,
                gCms_posts.dateCreated as dateCreated,
                gCms_posts.viewCount,
                gCms_posts.sortOrder,
                gCms_posts.status,
                gCms_posts.datePublished"
         pageSize="10"
         orderby="-dateCreated"
         allowedOrderbyColumns="title,category,dateCreated,status,datePublished">
    <![CDATA[
      
      left join gUser on gUser.id = gCms_posts.userId
      left join gCms_category on gCms_category.id = gCms_posts.categoryId
      
      where gCms_posts.isDeleted = 0
      
      #if($!utils.str.hasText($!this.siteId))
      
        and gCms_posts.siteId = @siteId
      #end
      
      #if($!utils.str.hasText($!this.key))
        
        $!this.set_item('key',"%$!this.key.replace('%','').trim()%")
        and (gCms_posts.title like @key or gCms_posts.text like @key)
      #end
      
      #if($!utils.str.hasText($!this.status))
        
        and gCms_posts.status = @status
      #end
      
    ]]>
  </query>

  <query id="posts.publish_list"
         field="gCms_posts.id,
                gCms_posts.title,
                gUser.displayName,
                gCms_category.title as category,
                gCms_posts.dateCreated as dateCreated,
                gCms_posts.viewCount,
                gCms_posts.sortOrder,
                gCms_posts.datePublished"
         pageSize="10"
         orderby="-dateCreated"
         allowedOrderbyColumns="title,category,dateCreated,status,datePublished">
    <![CDATA[
      
      left join gUser on gUser.id = gCms_posts.userId
      left join gCms_category on gCms_category.id = gCms_posts.categoryId
      
      where gCms_posts.isDeleted = 0 and gCms_posts.status = @status
      
      #if($!utils.str.hasText($!this.siteId))
      
        and gCms_posts.siteId = @siteId
      #end
      
      #if($!utils.str.hasText($!this.category))
      
        and gCms_posts.categoryId = @category
      #end
      
      #if($!utils.str.hasText($!this.key))
        
        $!this.set_item('key',"%$!this.key.replace('%','').trim()%")
        and (gCms_posts.title like @key or gCms_posts.text like @key)
      #end
      
      #if($!utils.str.hasText($!this.status))
        
        and gCms_posts.status = @status
      #end
      
    ]]>
  </query>

  <query id="trash.list"
         field="gCms_posts.id,
                gCms_posts.title,
                gUser.displayName,
                gCms_category.title as category,
                gCms_posts.dateCreated as dateCreated,
                gCms_posts.viewCount,
                gCms_posts.sortOrder,
                gCms_posts.status,
                gCms_posts.datePublished"
         pageSize="10"
         orderby="-dateCreated"
         allowedOrderbyColumns="title,category,dateCreated,status,datePublished">
    <![CDATA[
      
      left join gUser on gUser.id = gCms_posts.userId
      left join gCms_category on gCms_category.id = gCms_posts.categoryId
      
      where isDeleted = 1
      
      #if($!utils.str.hasText($!this.siteId))
      
        and gCms_posts.siteId = @siteId
      #end
      
      #if($!utils.str.hasText($!this.key))
        
        $!this.set_item('key',"%$!this.key.replace('%','').trim()%")
        and (gCms_posts.title like @key or gCms_posts.text like @key)
      #end
      
      #if($!utils.str.hasText($!this.status))
        
        and gCms_posts.status = @status
      #end
      
    ]]>
  </query>

  <query id="audit.list"
         field="gCms_posts.id,
                gCms_posts.title,
                gUser.displayName,
                gCms_category.title as category,
                gCms_posts.dateCreated as dateCreated,
                gCms_posts.viewCount,
                gCms_posts.sortOrder"
         pageSize="10"
         orderby="-dateCreated"
         allowedOrderbyColumns="title,category,dateCreated">
    <![CDATA[
      
      left join gUser on gUser.id = gCms_posts.userId
      left join gCms_category on gCms_category.id = gCms_posts.categoryId
      
      where gCms_posts.status = 1 and gCms_posts.isDeleted = 0
      
      #if($!utils.str.hasText($!this.siteId))
      
        and gCms_posts.siteId = @siteId
      #end
      
      #if($!utils.str.hasText($!this.key))
        
        $!this.set_item('key',"%$!this.key.replace('%','').trim()%")
        and (gCms_posts.title like @key or gCms_posts.text like @key)
      #end
      
    ]]>
  </query>

  <query id="users.list"
         field="gSite_users.userId,
                gUser.userName,
                gUser.displayName,
                gUser.mobile,
                gUser.email,
                (select count(1) from gCms_posts where gCms_posts.siteId = '$!this.siteId' and gCms_posts.userId = gSite_users.userId) as postCount,
                gSite_users.dateCreated as dateCreated,
                gSite_users.permissionLevel as permission,
                gUser.dateLastVisit"
         pageSize="10"
         orderby="permission"
         allowedOrderbyColumns="displayName,dateCreated,permission">
    <![CDATA[
      
      left join gUser on gUser.id = gSite_users.userId
      
      where gSite_users.siteId = @siteId
      
      #if($!utils.str.hasText($!this.permission))
        
        and gSite_users.permissionLevel = @permission
      #end
      
      #if($!utils.str.hasText($!this.displayName))
        
        $!this.set_item('displayName',"%$!this.displayName.replace('%','').trim()%")
        and (gUser.displayName like @displayName)
      #end
      
    ]]>
  </query>
</queries>