<?xml version="1.0"?>
<queries>

  <query id="user.sites"
         field="gSite.id,
                gSite.title,
                gSite.dateCreated as dateCreated,
                gSite.sortOrder as sortOrder"
         pageSize="10"
         orderby="-dateCreated,sortOrder">
    <![CDATA[
      
      inner join gSite on gSite.id = gSite_users.siteId and gSite_users.userId = @userId
      
    ]]>
  </query>


</queries>