<?xml version="1.0"?>
<queries>

  <query id="user.sites"
         field="gSite.id,
                gSite.title,
                gSite.dateCreated as dateCreated,
                gSite.sortOrder as sortOrder,
                gSite_users.permissionLevel as permission"
         orderby="-dateCreated,sortOrder">
    <![CDATA[
      
      inner join gSite on gSite.id = gSite_users.siteId and gSite_users.userId = @userId
      
    ]]>
  </query>

  <query id="posts.latest.list"
         field="gCms_posts.id,
                gCms_posts.displayName,
                gCms_posts.title as title,
                gCms_posts.datePublished as datePublished,
                gCms_posts.subTitle,
                gCms_posts.summary,
                gCms_posts.text,
                gCms_posts.viewCount,
                gCms_posts.imageUrl,
                gCms_posts.propertyName,
                gCms_posts.propertyValue"
         pageSize="10"
         orderby="-datePublished,sortOrder">
    <![CDATA[
      
      where gCms_posts.isDeleted = 0 and gCms_posts.status = 2
            and gCms_posts.siteId = @siteId
            
    ]]>
  </query>

  <query id="posts.category.list"
         field="gCms_posts.id,
                gCms_posts.displayName,
                gCms_posts.title as title,
                gCms_posts.datePublished as datePublished,
                gCms_posts.subTitle,
                gCms_posts.summary,
                gCms_posts.text,
                gCms_posts.viewCount as viewCount,
                gCms_posts.imageUrl,
                gCms_posts.propertyName,
                gCms_posts.propertyValue,
                gCms_posts.sortOrder as sortOrder"
         pageSize="10"
         orderby="-datePublished,title"
         allowedOrderbyColumns="datePublished,title,sortOrder,viewCount">
    <![CDATA[
      
        where gCms_posts.isDeleted = 0 and gCms_posts.status = 2 and gCms_posts.siteId = @siteId
            
        #if($!utils.str.hasText($!this.categoryId))
      
          and gCms_posts.categoryId = @categoryId
        #end
      
    ]]>
  </query>

  <query id="posts.list.search"
         field="gCms_posts.id,
                gCms_posts.displayName,
                gCms_posts.title as title,
                gCms_posts.datePublished as datePublished,
                gCms_posts.text,
                gCms_posts.viewCount as viewCount"
         pageSize="10"
         orderby="-datePublished,title"
         allowedOrderbyColumns="datePublished,title,viewCount">
    <![CDATA[
      
        where gCms_posts.isDeleted = 0 and gCms_posts.status = 2 and gCms_posts.siteId = @siteId
            
        #if($!utils.str.hasText($!this.search))
          
          $this.set_item('search',"%$!this.search.replace('%','').trim()%")
          and ( gCms_posts.title like @search or gCms_posts.text like @search )
        #end
      
    ]]>
  </query>

</queries>