<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsQuery" version="1.3.4" targetFramework="net452" />
  <package id="Kiss" version="4.9.0602.2" targetFramework="net452" />
  <package id="Kiss.Components.TemplateEngine" version="4.7.0602.0" targetFramework="net452" />
  <package id="Kiss.Linq" version="4.8.0814.1" targetFramework="net452" />
  <package id="Kiss.Web" version="5.0.0808.0" targetFramework="net452" />
  <package id="logs" version="4.8.1116.6" targetFramework="net452" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.0.2.901" targetFramework="net452" />
  <package id="users" version="4.9.1106.2" targetFramework="net452" />
  <package id="xdoc" version="1.0.0901.0" targetFramework="net452" />
</packages>