<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.5"/>
    <pages enableViewState="false" validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="JC" namespace="Kiss.Web.Controls" assembly="Kiss.Web"/>
      </controls>
    </pages>
    <trace enabled="false"/>
    <customErrors mode="Off"/>
    <httpRuntime executionTimeout="1800" requestValidationMode="2.0" maxRequestLength="2097151" useFullyQualifiedRedirectUrl="false"
      enableVersionHeader="false"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="zh-CN" uiCulture="zh-CN"/>
    <authentication mode="Forms">
      <forms name="auth" protection="Validation" defaultUrl="/" slidingExpiration="true" timeout="1440" path="/"/>
    </authentication>
    <machineKey validationKey="74633B34E5A948CB7D9EDE0BB903FF69DB2D54D67F393AF0D0044841F5EEDB908DC6597AB686F3707F4726E30B8A5B0095EE09360C188E5D74F41A4465123A74"
      decryptionKey="F0BEED923FE30C84B9D77D6C01CD043CE77365028C1C3747F69EE62A9F40F0C9" validation="SHA1" decryption="AES"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="209715200"/>
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
    </staticContent>
  </system.webServer>
</configuration>