body {
    font-family: "Microsoft YaHei";
}

html a:hover {
    text-decoration: none;
}

body .group-container button:focus {
    outline: none;
}

body a:focus {
    text-decoration: none;
}

ul li {
    list-style: none;
}

span:focus {
    outline: 0px;
}

body .has-error .form-control {
    border-color: #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.sub-add {
    float: right;
}

.select2-container--default .select2-selection--single {
    border-radius: 0px;
    border: 1px solid #ccc;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #10a1bb;
}

.select2-dropdown {
    border-radius: 0px;
    z-index: 2100;
}


/*nav*/

.group-top {
    height: 60px;
    line-height: 60px;
    background: #2f333e;
}

.group-top .navbar-brand {
    color: #9d9d9d;
    margin-left: 15px;
    float: left;
    height: 60px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 30px;
}

.group-top .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}

.group-top .navbar-right {
    margin-right: 39px;
}

.group-top .navbar-right span {
    color: #fff;
    margin-right: 10px;
}

.group-top-userbox {
    position: relative;
}

.group-top-user {
    display: -webkit-inline-box;
    display: inline-block;
}

.group-user-dropdown {
    z-index: 999;
    margin-left: -10px;
    background-color: #FFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    border-top: 3px solid #10a1bb;
    width: 120px;
    position: absolute;
    right: -20px;
}

.group-user-dropdown li a {
    padding: 0px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    display: block;
}

.group-user-dropdown li a:hover {
    text-decoration: none;
    background-color: #eee;
}

.group-user-dropdown ul {
    position: relative;
    padding: 0px;
}

.group-user-dropdown i.group-user-dropdownIcon {
    position: absolute;
    top: -69px;
    left: 50px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #10a1bb;
}


/*main*/

.group-container {
    margin-top: 60px;
}

.main {
    padding-left: 0px;
}

.group-container .sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    z-index: 99;
}

.group-nav-sidebar {
    margin: 0px -21px 20px -21px;
}

.group-nav-sidebar li {
    border-bottom: 1px solid #fff;
}

.group-nav-sidebar li a {
    color: #2f333e;
    padding: 13px 25px;
    display: block;
}

.group-nav-sidebar li a .iconfont {
    font-size: 17px;
    margin-right: 7px;
    vertical-align: middle;
}

.group-nav-sidebar li a:hover {
    color: #23527c;
}

.group-nav-sidebar li a.active {
    color: #fff;
    background-color: #10a1bb;
}

.group-subMenu {
    background: #fff;
}

.group-subMenu li {
    border-bottom: 1px solid #eee;
}

.group-subMenu li.active a {
    background-color: #eee;
    color: #23527c;
}

.group-subMenu li a {
    color: #000;
    padding-left: 45px;
}

.group-nav-more {
    float: right;
    font-size: 22px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
    line-height: 12px;
}

.group-icon-caidan {
    font-size: 18px;
    vertical-align: middle;
}

.group-icon-yuanquan {
    margin-right: 6px;
    font-size: 14px;
}

.group-article-top {
    margin: 0px;
    border-bottom: 1px solid #eee;
    background: #FAFBF9;
    padding: 0px 15px;
    font-size: 18px;
    color: #2f333e;
    top: 60px;
    z-index: 99;
}

.group-article-top h3 {
    margin: 0px;
    height: 47px;
    line-height: 47px;
    padding: 0px;
    font-size: 18px;
    float: left;
}

.group-operation-btn {
    margin-right: 22px;
}

.btn-primary,
.btn-danger {
    padding: 3px 16px;
    border: 0px;
    border-radius: 0px;
    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
}

.group-operation-btn {
    margin-top: 14px;
}

.btn-primary {
    color: #fff;
    background: #10a1bb;
    border-radius: 2px;
}

.btn-danger {
    color: #fff;
    background: #d9534f;
    border-radius: 2px;
}

.btn-danger:hover {
    background: #f16e6a;
}

.btn-danger:focus {
    background: #f16e6a;
}

.group-operation-btn .group-article-top h3 span {
    font-size: 16px;
}

.group-article-top .group-icon-207 {
    font-size: 26px;
    vertical-align: middle;
}

.group-article-addButton {
    background: #10a1bb;
    color: #fff;
    border-radius: 2px;
    border: none;
    font-size: 12px;
    padding: 5px 10px 5px 7px;
    margin-right: 21px;
}

.group-article-addButton:hover,
.btn-primary:hover {
    background: #1dc6e4;
    color: #fff;
    text-decoration: none;
}

.group-article-addButton:focus,
.group-article-table .group-article-form-btn:focus,
.btn-primary:focus {
    background: #1dc6e4;
    color: #fff;
    text-decoration: none;
}

.group-article-addButton .group-nav-more {
    float: left;
    margin-right: 4px;
}


/*group-article-table*/

.group-article-table {
    padding: 15px 20px;
    margin-top: 55px;
}

.group-article-table .table th,
.group-users-table .table th {
    border-bottom: 0px;
}

.group-article-table .table th,
.group-article-table .table td {
    text-align: center;
    padding: 6px 2px;
}

.group-article-table .group-articleform-top {
    margin-bottom: 10px;
}

.group-article-table .group-article-form {
    margin-left: 0px;
    margin-right: 20px;
}

.group-article-table .group-article-form label {
    vertical-align: initial;
    display: inline-block;
    padding: 0px;
    font-weight: normal;
    font-size: 14px;
}

.group-article-form input {
    vertical-align: initial;
}

.group-article-form .form-control,
.group-users-form .form-control {
    border-radius: 0px;
    height: 28px;
    line-height: 28px;
    width: 210px;
}

.group-article-form select {
    width: 120px;
    height: 28px;
    border: 1px solid #ccc;
}

.group-article-table .group-article-form-btn {
    background: #10a1bb;
    color: #fff;
    border-radius: 2px;
    border: none;
    font-size: 14px;
    padding: 4px 20px;
    margin-left: 15px;
}

.group-article-table .group-article-form-btn:hover {
    background: #1dc6e4;
}

.group-article-tabelTools a,
.group-site-tabelTools a {
    cursor: pointer;
    border: 1px solid #10a1bb;
    margin: 0px 3px;
    color: #10a1bb;
    font-size: 14px;
    padding: 2px 4px;
}

.group-article-tabelTools a:hover {
    color: #bfbfbe;
    border: 1px solid #bfbfbe;
}

.group-container table td,
.group-container table th {
    text-align: center;
    padding: 11px 0px;
}

.group-article .group-article-table table th {
    cursor: pointer;
}

.group-article-table .group-icon-sort {
    font-size: 13px;
    margin-left: 4px;
}

.group-article .group-article-table .group-article-checkbox {
    width: 3%;
}

.group-article-width5 {
    width: 9%;
}

.group-article-zy {
    width: 320px;
    text-align: left !important;
}

.site-Keyword {
    width: 200px;
}

.group-article-zy .autocut,
.group-article-table .table td .site-Keyword-con {
    width: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    word-break: normal;
    word-wrap: normal;
    padding: 0px 8px;
}


/*栏目group-Columns*/

.group-info-select .select2-choice {
    border-radius: 0px;
    border: 0px;
}

.group-Columns-list .ztree {
    margin: 0px;
    background: #fff;
    width: 208px;
    border: 0px;
    overflow: hidden;
}

.group-Columns-list .ztree li a {
    padding: 0px;
    display: inline;
}

.group-Columns {
    position: relative;
    margin-top: 45px;
}

.group-Columns .group-Columns-list {
    width: 210px;
    border: 1px solid #eee;
    position: absolute;
    top: 20px;
    left: 12px;
}

.group-Columns .group-Columns-list h3 {
    font-size: 16px;
    margin: 0px;
    height: 40px;
    line-height: 40px;
    background: #10a1bb;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #f6f6f6;
}

.group-Columns .group-Columns-ul {
    box-shadow: none;
    margin: 0px;
}

.group-Columns .group-Columns-ul li {
    border: 0px;
    background: #f6f6f6;
    text-align: center;
    border-radius: 0px;
}

.group-Columns .group-Columns-ul li a {
    color: #10a1bb;
}

.group-Columns .group-Columns-ul .group-Columns-Active {
    background: #fff;
    border-left: 2px solid #23b7d2;
}

.group-Columns .group-Columns-ul .group-Columns-Active a {
    color: #10a1bb;
}

.group-Columns .group-Columns-ul li a:hover {
    text-decoration: none;
}


/*栏目详细信息*/

.group-Columns-information {
    margin-left: 260px;
    padding-top: 8px;
}

.column-select {
    position: relative;
}

.select2-column-clear {
    position: absolute;
    right: 9px;
    top: 4px;
    cursor: pointer;
}


/*information-top*/

.group-Columns-information .information-top {
    margin: 0px;
    font-size: 16px;
    line-height: 50px;
    border-bottom: 2px solid #f6f6f6;
}

.group-Columns-information .information-top span {
    border-bottom: 2px solid #10a1bb;
    padding: 15px;
}


/*group-information-form*/

.group-Columns-information .group-information-form {
    margin-top: 40px;
}

.group-information-form label {
    width: 100px;
    text-align: right;
    padding: 0px;
    font-weight: normal;
    margin-right: 11px;
}

.group-information-form .group-information-input input {
    border-radius: 0px;
    border: 1px solid #b6b6b6;
}

.group-information-form .group-information-input {
    width: 300px;
    padding: 0px;
}

.group-information-form .group-information-Parent {
    width: 160px;
}

.group-information-form .group-information-Parent input {
    width: 160px;
    height: 32px;
}

.group-information-form .group-info-ParentButton {
    padding: 0px;
    background: #e0e0e0;
    width: 124px;
    height: 32px;
    border: none;
    margin-left: 16px;
    color: #2f333e;
    font-size: 12px;
}

.group-information-form .group-info-select {
    display: inline-block;
    width: 300px;
    border-radius: 0px;
    border: 1px solid #b6b6b6;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
}

.group-info-select .select2-choice {
    width: 298px;
    margin: 0px;
    border-radius: 0px;
}

.group-information-form .group-information-Sort {
    width: 95px;
}

.group-information-form .group-Columns-button button {
    width: 90px;
    height: 32px;
    color: #fff;
    border-radius: 0px;
    border: 0px;
}

.group-information-form .group-Columns-button .group-Columns-save {
    margin-left: 111px;
    background: #13abc6;
}

.group-information-form .group-Columns-button .group-Columns-dele {
    margin-left: 15px;
    background: #e0e0e0;
    color: #2f333e;
}


/*用户管理*/

.group-users-form {
    padding: 15px 20px;
}

.group-users-table .group-users-form label {
    padding: 0px;
}

.group-users-table {
    padding: 15px 20px;
    margin-top: 45px;
}

.group-users-table .group-users-form-btn {
    background: #10a1bb;
    color: #fff;
    border-radius: 2px;
    border: none;
    font-size: 14px;
    padding: 5px 20px;
    margin-left: 24px;
}

.users-autocut {
    width: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    word-break: normal;
    word-wrap: normal;
    padding: 0px 8px;
}

.users-width {
    width: 200px;
    text-align: left !important;
}

.btn_add_user {
    float: right;
    margin-top: 8px;
}


/*站点group-site-table*/

.group-site-table {
    padding: 15px 20px;
    margin-top: 55px;
}

.group-site-table table {
    border: none;
}

.group-site-table .form-horizontal {
    height: 35px;
    background: #10a1bb;
    padding: 0px 15px;
    line-height: 35px;
}

.group-site-table .group-site-tableTitle {
    font-size: 14px;
    color: #fff;
}

.group-site-table .group-site-control {
    height: 23px;
    border: 0px;
    border-radius: 0px;
}

.group-container .group-site-table table th,
.group-container .group-site-table table td {
    text-align: center;
    border: none;
    padding: 11px 0px;
}

.group-site-table .table-striped>tbody>tr:nth-of-type(odd),
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #ebf9fb;
}

.group-site-table .group-site-tabelTools .tabelTools-edit,
.group-site-table .group-site-tabelTools a:hover {
    color: #10a1bb;
}

.group-site-table .group-site-tabelTools .tabelTools-edit:hover {
    color: #018af7;
}

.group-site-pagination {
    text-align: center;
}

.group-site-pagination .pagination {
    margin: 0 auto;
    height: 34px;
    line-height: 26px;
    float: right;
}

.group-site-pagination .pagination li span,
.group-site-pagination .pagination li a {
    border-radius: 0px;
    margin: 0px 1px;
    padding: 2px 12px;
}

.group-site-pagination .pagination-active a {
    background: #10a1bb;
    color: #fff;
    border-color: #ddd;
}

.group-site-pagination .pagination li span.pagination-Ellipsis {
    border: 0px;
    padding: 0px;
}

.group-site-pagination .pagination li span.pagination-Ellipsis:hover {
    background: 0px;
}

.group-site-pagination .pagination-left {
    float: left;
    text-align: left;
    margin-left: 24px;
}

.group-site-pagination .pagination-left span,
.group-site-pagination .pagination-last span {
    border: none;
    color: #10a1bb;
    float: none;
    margin: 0px;
    padding: 0px;
}

.group-site-pagination .pagination-last {
    margin: 0px 15px;
    color: #333;
}

.group-site-pagination .pagination li.pagination-last span {
    margin: 0px;
    padding: 0px;
    color: #333;
}

.group-site-pagination .pagination-last input {
    float: none;
    width: 40px;
    height: 20px;
    padding: 0px 7px;
    margin: 0px 8px;
    border: 1px solid #ddd;
}

.group-pagination-btn {
    border-radius: 2px;
    border: none;
    font-size: 14px;
    padding: 1px 12px;
    margin-right: 12px;
    margin-left: 11px;
    color: #171717;
}

.group-pagination-btn:hover {
    background: #10a1bb;
    color: #fff;
    text-decoration: none;
}

.pagination-left .select2-container .select2-choice {
    width: 68px;
    height: 20px;
    line-height: 20px;
}

@media screen and (min-width: 768px) {
    .group-article-top {
        width: 75%;
    }
    .group-article-top {
        left: 25%;
    }
}

@media screen and (min-width: 992px) {
    .group-article-top {
        width: 83.333%;
    }
    .group-article-top {
        left: 16.66666667%;
    }
}


/*选项 option*/

.group-article-top .navbar-brand .breadcrumb {
    padding: 0px;
    margin: 0px;
    background: #FAFBF9;
    display: inline-block;
}

.group-article-top .breadcrumb li a {
    color: #000;
    font-size: 18px;
}

.group-article-top .breadcrumb li a:hover {
    color: #10a1bb;
}

.group-optionForm-container .group-information-form {
    margin-top: 30px;
}

.group-information-input textarea {
    resize: none;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    width: 100%;
    border: 1px solid #b6b6b6;
    border-radius: 0px;
}

.group-optionForm-container .group-info-select {
    margin-left: 15px;
}

.group-setting-container {
    margin: 8px 0px 0px 33px;
}


/*已发布的文章 posts-publish*/

.group-postspublish-table {
    margin-top: 20px;
}

.group-postspublish-table .form-horizontal {
    margin-bottom: 10px;
}

.group-postspublish-table form .group-article-form {
    margin-left: 0px;
    margin-right: 20px;
}

.group-postspublish-table form label {
    vertical-align: initial!important;
    display: inline-block;
    padding: 0px;
    font-weight: normal;
    font-size: 14px;
}

.group-postpublish-table {
    margin-left: 260px;
}

.group-postpublish-table form {
    padding-top: 5px;
}

.breadcrumb {
    padding: 0px;
    margin: 0px;
}

.group-article .group-article-top .breadcrumb li {
    font-size: 18px;
}


/*分页 x-paging*/

.x-paging .x-paging-pagination-left {
    float: left;
}

.x-paging .x-paging-right {
    float: right;
}

.x-paging-right ul {
    clear: both;
    float: left;
    margin-right: 10px;
}

.x-paging-right ul li {
    float: left;
}

.x-paging-right ul li a,
.x-paging-right ul li span {
    position: relative;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #337ab7;
    text-decoration: none;
    line-height: 1.42857143;
}

.x-paging-right ul li a {
    margin: 0px 1px;
    padding: 2px 12px;
    border-radius: 0px;
}

.x-paging-right ul li span.pagination-Ellipsis {
    border: none;
    margin: 0px 5px;
}

.x-paging-right li.x-paging-active a,
.x-paging-right li a:hover {
    background: #337ab7;
    color: #fff;
}

.pagination-last {
    float: left;
}


/*添加新文章*/

.group-addNews {
    position: relative;
}

.group-addNews-right {
    position: absolute;
    right: 22px;
    top: 0px;
}

.group-addNews-left {
    margin-right: 300px;
}

.addNews-title-input input {
    border-radius: 0px;
}

.addNews-Columns {
    margin-top: 70px;
    padding: 0px 50px;
}

.addNews-title-input {
    padding: 0px;
}

.addNews-title label {
    width: initial;
}

.addNews-title-editor {
    padding-left: 0px;
    padding-right: 0px;
}

.form-horizontal .addNews-title label {
    font-size: 16px;
    font-weight: normal;
    padding-right: 10px;
    padding-top: 5px;
}

.group-addNews-right {
    width: 300px;
}

.group-addNews-right .addNews-right-top {
    font-size: 16px;
    margin: 0px;
    height: 36px;
    line-height: 36px;
    background: rgba(234, 234, 234, 0.41);
    color: #10a1bb;
    border-bottom: 1px solid #ccc;
    padding-left: 23px;
}

.addNews-tools {
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

.addNews-tools .form-group {
    margin: 20px 22px 15px 22px;
}

.group-addNews-form label {
    font-size: 14px;
    font-weight: normal;
    font-size: 16px;
    font-weight: normal;
    color: #161616;
}

.addNews-summary label {
    font-size: 14px;
    font-weight: normal;
    padding: 0px;
    float: left;
}

.addNews-title-summary {
    padding: 0px;
    width: 210px;
    float: left;
}

.addNews-title-summary textarea {
    resize: none;
    border-radius: 0px;
}

.addNews-gformbox input {
    margin-right: 3px;
}

.addNews-gformbox label,
.addNews-gformbox input {
    float: none;
    width: initial;
    padding: 0px;
    vertical-align: text-top;
    font-size: 14px;
    font-weight: normal;
}

.addNews-gformbox label {
    margin: 0px 5px;
}

.addNwes-choice {
    border: 1px solid #10a1bb;
    padding: 2px 12px;
    border-radius: 2px;
    font-size: 12px;
    color: #10a1bb;
}

.addNwes-choice:hover {
    background: #337ab7;
    color: #fff;
}


/* 添加新文章 >> 选择栏目 Dialog*/

.choice-dialog .ztree {
    width: 400px;
    background: none;
    border: 1px solid #ccc;
    margin: 0px;
    padding: 15px 17px;
}


/*添加站点*/

.addForm-label {
    width: 23%;
    text-align: right;
    display: inline-block;
}

.addForm-label em {
    color: #f00;
}

.addForm-input input {
    width: 75%;
    border-radius: 0px;
    height: 28px;
    line-height: 28px;
    display: inline-block;
}

.addForm-input {
    margin-bottom: 15px;
}

.addForm-input textarea {
    resize: none;
    height: 50px;
    width: 75%;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    border-radius: 0px;
}

.addForm-input .select2-container--default .select2-selection--single {
    border-radius: 0px;
}

.addForm-input .select2-container {
    width: 150px;
}

.addForm-input .select2-container--default .select2-selection--single {
    border: 1px solid #ccc;
}


/*暂无数据*/

.no-data {
    padding: 50px 0px;
    color: #a2a2a2;
}

.no-data i {
    font-size: 60px;
}

.no-data p {
    margin-left: 10px;
}

.form-horizontal .table-striped tbody tr.no-data-tr {
    background: none;
}

.form-horizontal .table-striped tbody tr.no-data-tr:hover {
    background: #fff !important;
}


/*选择站点*/

.select-site {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.select-site h2 {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #10a1bb;
    color: #fff;
    cursor: pointer;
}

.select-site h2:hover {
    background: #1395ad;
}

.select-site h2 i {
    margin-right: 10px;
}

.select-sitelist {
    position: absolute;
    left: 0px;
    bottom: 40px;
    width: 100%;
    padding: 0px;
    text-align: center;
    max-height: 280px;
    overflow-x: hidden;
}

.select-sitelist li a {
    color: #2f333e;
    font-size: 14px;
    background: #e0e0e0;
    border-bottom: 1px solid #f5f5f5;
    max-height: 40px;
    line-height: 40px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select-sitelist li a.active,
.select-sitelist li a:hover {
    text-decoration: underline;
}


/*栏目管理*/

.users-name {
    font-size: 16px;
    color: #10a1bb;
    padding-left: 10px;
}


/*修改密码*/

.password-form label {
    width: 120px;
    text-align: right;
    padding: 0px;
    font-weight: normal;
    margin-right: 11px;
}

.password-input {
    width: 200px;
}

.password-input input {
    border-radius: 0px;
    border: 1px solid #b6b6b6;
}